{% extends 'base.html' %}

{%block body%}
<div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-top-nav-container">
        <div class="row">
            <nav class="templatemo-top-nav col-lg-12 col-md-12">
                <ul class="text-uppercase">
                </ul>
            </nav>
        </div>
    </div>
    <div class="templatemo-content-container">
        <div class="templatemo-content-widget white-bg">
            <h2 class="margin-bottom-10"><big>Дробно-Рациональные уравнения</big></h2>
        </div>
        <div class="templatemo-flex-row flex-content-row">
            <div class="col-1">
                <div class="panel panel-default margin-10">
                    <div class="panel-heading">
                        <h2>Теория</h2>
                    </div>
                    <div style="margin-left:1em; margin-top:1em; margin-bottom:2em;">
                        <h2><strong>Дробно-Рациональные уравнения</strong></h2>
                        <ul>
                            <li type="1"
                                style="margin-top: 1em; margin-bottom: 1em; margin-right: 40em; margin-left: 3em; font-size: 20px;">
                                Найти ОДЗ уравнения, если в знаменателе есть переменная
                            </li>
                            <li type="1"
                                style="margin-top: 1em; margin-bottom: 1em; margin-right: 40em; margin-left: 3em; font-size: 20px;">
                                Найдите общий знаменатель у дробей
                            </li>
                            <li type="1"
                                style="margin-top: 1em; margin-bottom: 1em; margin-right: 40em; margin-left: 3em; font-size: 20px;">
                                Умножим левую и правую части уравнения на общий знаменатель
                            </li>
                            <li type="1"
                                style="margin-top: 1em; margin-bottom: 1em; margin-right: 40em; margin-left: 3em; font-size: 20px;">
                                Получаем квадратное или линейное уравнение
                            </li>
                            <li type="1"
                                style="margin-top: 1em; margin-bottom: 1em; margin-right: 40em; margin-left: 3em; font-size: 20px;">
                                Алгоритм решений квадратных уравнений смотри в разделе «Квадратные уравнения».
                                Алгоритм решений линейных уравнений смотри в разделе «Линейные уравнения».
                            </li>

                        </ul>
                        <h2 style="margin-bottom: 0.5em; margin-top: 2em;">Пример 1:</h2>
                        <p style="margin-left: 2em; font-size: 25px;">\(x + {10\over3} = - {x\over9}\)</p>
                        <h2 style="margin-bottom: 0.5em;">Решение:</h2>
                        <p style="margin-left: 2em; font-size: 25px;">\(x + {10\over3} = - {x\over9}\) | \(*9\) </p>
                        <p style="margin-left: 2em; font-size: 25px;">\(9x + 30 = -x\)</p>
                        <p style="margin-left: 2em; font-size: 25px;">\(9x + x = -30\)</p>
                        <p style="margin-left: 2em; font-size: 25px;">\(10x = -30\)</p>
                        <p style="margin-left: 2em; font-size: 25px;">\(x = -3\)</p>

                        <h2 style="margin-bottom: 0.5em; margin-top: 2em;">Пример 2:</h2>
                        <p style="margin-left: 2em; font-size: 25px;">\(x + 3 - {4\over x} = 0\)</p>
                        <h2 style="margin-bottom: 0.5em;">Решение:</h2>
                        <p style="margin-left: 2em; font-size: 25px;">\(x + 3 - {4\over x} = 0\) | \(*x\) </p>
                        <p style="margin-left: 2em; font-size: 25px;">\(x^2 + 3x - 4 = 0\)</p>
                        <p style="margin-left: 2em; font-size: 25px;">\(D = 9 + 16 = 25 = 5^2\)</p>
                        <p style="margin-left: 2em; font-size: 25px;">\(x_1 = {-3 + 5\over 2} = {2\over2} =
                            1\)</p>
                        <p style="margin-left: 2em; font-size: 25px;">\(x_2 = {-3 - 5\over 2} = {-8\over2} =
                            -4\)</p>
                        <p style="margin-left: 0.5em; margin-top: 2em; font-size: 20px; ">Также многие
                            дробно-рациональные
                            уравнения можно решать при помощи пропорции.</p>

                        <h2 style="margin-bottom: 0.5em; margin-top: 2em;">Пример 3:</h2>
                        <p style="margin-left: 2em; font-size: 25px;">\({4\over x - 12} = {12\over x - 4} \)</p>
                        <h2 style="margin-bottom: 0.5em;">Решение:</h2>
                        <p style="margin-left: 2em; font-size: 25px;">\({4\over x - 12} = {12\over x - 4} \)</p>
                        <p style="margin-left: 2em; font-size: 25px;">\(4(x - 4) = 12(x - 12)\) </p>
                        <p style="margin-left: 2em; font-size: 25px;">\(4x - 16 = 12x - 144\)</p>
                        <p style="margin-left: 2em; font-size: 25px;">\(4x - 12x = 16 - 144\)</p>
                        <p style="margin-left: 2em; font-size: 25px;">\(-8x = -128\)</p>
                        <p style="margin-left: 2em; margin-bottom: 2em; font-size: 25px;">\(x = 16\)</p>
                    </div>
                    <h3 style="font-size: 30px; margin: 1em; margin-right: 50em; margin-bottom: 1em; margin-top: 1em;">Самостоятельно:</h3>
                    <form action="/drobi" method="post" style="margin-left:1em;">
                        <h2 style="margin-bottom: 1em; margin-top: 2em;">Задание 1:
                            {% if task1 == "0,75" %}
                            <label>Верно</label>
                            {% elif task1 == ""%}
                            <label>Не решено</label>
                            {% else %}
                            <label>Неверно</label>
                            {% endif %}</h2>
                        <p style="margin-left: 2em; font-size: 30px;">\( x - {5\over6} = -{x\over9}\)</p>
                        <h2 style="margin-bottom: 0.5em;">Решение:</h2>
                        <p style="margin-left: 2em; font-size: 25px;">\(x =\) <input name="task1" size="1"></p>

                        <h2 style="margin-bottom: 1em; margin-top: 2em;">Задание 2:
                            {% if task2== "2" and task3 == "2" and task4 == "8" and task5 == "36" and task6 ==
                            "2" and task7 == "-4"%}
                            <label>Верно</label>
                            {% elif task2 == "" and task3 == "" and task4 == "" and task5 == "" and task6 == "" and
                            task7 == "" %}
                            <label>Не решено</label>
                            {% else %}
                            <label>Неверно</label>
                            {% endif %}</h2>
                        <p style="margin-left: 2em; font-size: 30px;">\( x - {8\over x} - 2= 0\)</p>
                        <h2 style="margin-bottom: 0.5em;">Решение:</h2>
                        <p style="margin-left: 2em; font-size: 25px;">\(x - {8\over x} - 2= 0\)</p>
                        <p style="margin-left: 2em; font-size: 25px;">\(x\)<sup><input name="task2"
                                                                                       style="width:15px; height:15px; font-size: 10px;"
                                                                                       size="1"></sup> -
                            <input name="task3" style="width:30px; height:30px; font-size: 20px;" size="1">\(x\) -
                            <input name="task4" style="width:30px; height:30px; font-size: 20px;" size="1"> = 0</p>
                        <p style="margin-left: 2em; font-size: 25px;">\(D =\) <input name="task5" size="1"></p>
                        <p style="margin-left: 2em; font-size: 25px;">\(x_1 =\) <input name="task6" size="1"></p>
                        <p style="margin-left: 2em; font-size: 25px;">\(x_2 =\) <input name="task7" size="1"></p>

                        <input type="submit"
                               style="margin-left: 2em; margin-top: 2em; margin-bottom: 2em; font-size:20px;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
